{
  "env": {
    "es6": true
  },
  "plugins": ["prettier"],
  "extends": ["plugin:prettier/recommended"],
  "parserOptions": {
      "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error", {"singleQuote": true}]
  }
}
