{% extends "./layout.njk" %}

{% set pageTitle = data.title %}

{% block main %}

<article class="brief">
  <header class="brief__header">
    <a href="/" class="back-link js-route">&lt; Go Back</a>
    <a href="https://github.com/lukejones/designchallenge/tree/master/{{filename}}">View on GitHub</a>
    <button class="js-clipboard text-button">Copy URL</button>
  </header>
  <div class="brief__content">
    <h1 class="brief__title">{{ data.title }}</h1>
    {{ content | safe }}
  </div>
  <footer class="brief__footer">
    {% if data.author and data.authorurl %}
      <p>Challenge written by <a href="{{data.authorurl}}">{{data.author}}</a>. Got a challenge? <a href="#suggest-modal" class="js-modal-trigger">Share it on GitHub</a>.</p>
    {% elif data.author and not data.authorurl %}
      <p>Challenge written by {{data.author}}. Got a challenge? <a href="#suggest-modal" class="js-modal-trigger">Share it on GitHub</a>.</p>
    {% else %}
      <p>Got a challenge? <a href="#suggest-modal" class="js-modal-trigger">Share it on GitHub</a>.</p>
    {% endif %}
  </footer>
</article>


{% endblock %}

