{% extends "./layout.njk" %}
{% from "./components/introPanel.njk" import introPanel %}
{% from "./components/challengeList.njk" import challengeList %}

{% block main %}
  {{ introPanel() }}
  {{ challengeList(challenges) }}
{% endblock %}

