{% extends "./layout.njk" %}
{% from "./components/introPanel.njk" import introPanel %}
{% from "./components/challengeList.njk" import challengeList %}

{% set pageTitle = "Design Challenges & Design Challenge Ideas" %}
{% set bodyClass = "js-has-routing" %}

{% block main %}
  {{ introPanel() }}
  {{ challengeList(challenges) }}
{% endblock %}

