<html>
    <head>
        <title>Markdown P.O.C.</title>
        <link rel="stylesheet" href="/assets/css/screen.css">
    </head>
    <body>
        <div class="main">
            {% block main %}{% endblock %}
        </div>
        <script src="/assets/js/app.js"></script>
    </body>
</html>