{% from "./components/modals.njk" import modals %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
      <script>
        document.documentElement.classList.remove('no-js');
        document.documentElement.classList.add('js');
      </script>
      <title>{{pageTitle}} &bull; DesignChallenge.xyz</title>
      <link rel="stylesheet" href="/assets/css/screen.css">
      <meta name="viewport" content="initial-scale=1, width=device-width, user-scalable=no">
      <meta name="theme-color" content="#272724">
    </head>
    <body class="{{bodyClass}}">
      <header class="masthead">
        <a href="/" class="masthead__logo">
          <img src="/assets/img/logo--design-challenge.png" alt="">
        </a>

        <ul class="masthead__links bare-list">
          <li><a href="https://github.com/lukejones/designchallenge/wiki/Contributors" title="Acknowledgements">Acknowledgements</a></li>
          <li><a href="#contribute-modal" class="js-modal-trigger">Contribute</a></li>
        </ul>
      </header>

      {% block main %}{% endblock %}
      {{ modals() }}

      <script src="/assets/js/app.js"></script>
    </body>
</html>
