.challenge-card {
  p {
    font-size: $t-body;
    line-height: 1.5rem;
    margin: 10px 0 24px;
  }

  /* Set up widths for flexbox layout */
  @media $from-small {
    width: 100%;
  }

  @media $medium-to-large,
  screen and (min-width: 1624px) and (max-width: 2129px) {
    width: 50%;
  }

  @media $from-ultra {
    width: 33.333333%;
  }

  /* allow grid sizing, where supported */
  @supports (display: grid) {
    height: 100%;
    width: auto !important;
  }
}

.challenge-card__title {
  font-size: $t-heading-secondary;
  line-height: 1;
  margin-bottom: 24px;
  font-weight: bold;
}

.challenge-card__link {
  color: #000;
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

.challenge-card:nth-child(4n + 1) { background: $c-blueberry; }
.challenge-card:nth-child(4n + 2) { background: $c-apple; }
.challenge-card:nth-child(4n + 3) { background: $c-cherry; }
.challenge-card:nth-child(4n + 4) { background: $c-apricot; }
