.challenge-list {
  display: grid;
  grid-auto-columns: 1fr;

  /* Left positioning */
  @media $from-large {
    margin-left: 50%;
  }

  @media $from-super {
    margin-left: 812px;
  }

  /* grid definition */
  @media $from-small {
    grid-auto-rows: 1fr;
  }

  @media $medium-to-large,
  screen and (min-width: 1624px) {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr;
  }

  @media $from-ultra {
    grid-template-columns: repeat(3, 33.333%);
    grid-auto-rows: 1fr;
  }
}
