/* default flexbox layout */
.challenge-list {
  display: flex;
  flex-wrap: wrap;

  /* Left positioning */
  @media $from-large {
    margin-left: 50%;
  }

  @media $from-super {
    margin-left: 812px;
  }
}

/* grid definition, where supported */
@supports (display: grid) {
  .challenge-list {
    display: grid;
    grid-auto-columns: 1fr;
  }
}

@media $from-small {
  .challenge-list {
    grid-auto-rows: 1fr;
  }
}


@media screen and (min-width: 1080px) and (max-width: 1199px),
screen and (min-width: 1890px) and (max-width: 2434px) {
  .challenge-list {
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 1fr;
  }
}

@media $from-ultra {
  .challenge-list {
    grid-template-columns: repeat(3, 33.333%);
    grid-auto-rows: 1fr;
  }
}
