@import "../_variables";

.intro-panel {
  color: $c-text-darkbg;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: $c-dark-bg;

  @media $from-large {
    position: fixed;
    top: 92px;
    bottom: 0;
    left: 0;
    max-width: 812px;
    width: 50%;
  }

  @media $from-super {
    width: 812px;
  }
}

.intro-panel__title {
  margin: 0;
  color: #f1f3d8;
  font-size: 1.5rem;
  line-height: 40px;
  font-weight: normal;
  max-width: 572px;

  @media $from-small {
    font-size: 2rem;
  }

  @media $medium-to-large, $from-super {
    font-size: 3.5rem;
    line-height: 72px;
  }
}

.intro-links {
  margin-top: 2.5rem;

  a {
    font-weight: bold;
  }
}

.intro-panel__footer p {
  font-size: $t-small;
  line-height: 1.125rem;

  @media $from-small {
    margin-bottom: 1.5rem;
  }
}
