.modal {
  position: relative;
  background: $c-light-bg;
  min-height: 100%;
  backface-visibility: hidden;
  will-change: transform;

  @media $from-small {
    max-width: 674px;
    margin: 15vh auto 80px;
    min-height: initial;
    width: calc(100% - 80px);
  }

  a {
    font-weight: bold;
    color: $c-dark-blueberry;
  }
}


.modal__close {
  outline: none;
  border: none;
  appearance: none;
  background: url(/assets/img/close--black.svg) no-repeat center;
  width: 24px;
  height: 24px;
  overflow: hidden;
  text-indent: -999px;
  cursor: pointer;

  @media $from-small {
    background: url(/assets/img/close.svg) no-repeat center;
    top: -34px;
    right: 0;
    position: absolute;
  }
}

.modal__content {
  padding: 40px;

  p {
    font-size: $t-body;
    line-height: 1.5rem;
    margin-bottom: 1rem;
  }

  h1, h2, h3, h4, h4, h6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    &:first-child { margin-top: 0; }
    &:last-child { margin-bottom: 0; }
  }
  h2,h3,h4 {
    font-weight: bold;
  }
  h3 {
    font-size: $t-heading-secondary;
  }
  h4 {
    font-size: $t-heading-tertiary;
  }
  @media $from-small {
    padding: 64px;
  }
}

.modal__title {
  font-size: $t-heading-secondary;
  font-weight: bold;
  line-height: 1;

  @media $from-small {
    font-size: $t-heading-primary;
  }
}