{% from "./challenge.njk" import listing %}

{% macro challengeList(challenges) %}
<div class="challenge-list">
  {% for challenge in challenges %}
    {{ listing(challenge.data.title, challenge.filename, challenge.data.summary, index=loop.index) }}
  {% endfor %}
</div>
{% endmacro %}
