{% macro challengeCard(title, url, summary, index) %}
<div class="challenge-card boxin">
  <h2 class="challenge-card__title" id="{{ url }}" href="/{{ url }}">
    {{ title }} <a href="/#{{ url }}" class="anchor" title="{{ title }}" aria-hidden="true">Link</a>
  </h2>

  {% if summary %}
  <p>{{ summary }}</p>
  {% endif %}
  <a class="chevron challenge-card__link" href="/{{ url }}">View brief</a>
</div>
{% endmacro %}
