{% macro challengeCard(title, url, summary, index) %}
<div class="challenge-card boxin">
  <h2 class="challenge-card__title" id="{{ url }}">
    <a href="/{{ url }}" class="anchor js-route" title="{{ title }}">{{ title }}</a>
  </h2>

  {% if summary %}
  <p>{{ summary }}</p>
  {% endif %}
  <a class="chevron challenge-card__link js-route" href="/{{ url }}">View brief</a>
</div>
{% endmacro %}
