{% from "./challenge.njk" import listing %}

{% macro challengeList(challenges) %}
<section class="challenge-list">
  {% for challenge in challenges %}
    {{ listing(challenge.data.title, challenge.slug, challenge.data.summary, index=loop.index) }}
  {% endfor %}
</section>
{% endmacro %}
