{% macro introPanel() %}
  <section class="intro-panel boxin">
    <div class="intro-panel__content">
      <h1 class="intro-panel__title">Design challenges created to test the processes and creativity of any designer._</h1>
      <ul class="intro-links bare-list">
        <li class="intro-links__item">
          <a href="#" class="chevron chevron--creme tc-blueberry">Suggest a Challenge</a>
        </li>
        <li class="intro-links__item">
          <a href="#" class="chevron chevron--creme tc-blueberry">Register for Updates</a>
        </li>
      </ul>
    </div>
    <footer class="intro-panel__footer">
      <p>Created by <a href="https://lukejones.me">Luke Jones</a>. View on <a href="https://github.com/lukejones/designchallenge">GitHub</a>.</p>
    </footer>
  </section>
{% endmacro %}
