{% macro introPanel() %}
  <div class="intro-panel boxin">
    <h1 class="intro-panel__title">Design challenges created to test the processes and creativity of any designer._</h1>
  </div>
{% endmacro %}
