{% macro introPanel() %}
  <section class="intro-panel boxin">
    <div class="intro-panel__content">
      <h1 class="intro-panel__title">Design challenges created to test the processes and creativity of any designer._</h1>
      <ul class="intro-links bare-list">
        <li class="intro-links__item">
          <a href="#contribute-modal" class="chevron chevron--creme tc-blueberry js-modal-trigger">Become a Contributor</a>
        </li>
        <li class="intro-links__item">
          <a href="#register-modal" class="chevron chevron--creme tc-blueberry js-modal-trigger">Register for Updates</a>
        </li>
      </ul>
    </div>
    <footer class="intro-panel__footer">
      <p>Created by <a href="https://twitter.com/lukejones">Luke Jones</a> &amp; <a href="https://twitter.com/Robb0wen" title="Robb Owen Twitter">Robb Owen</a>. View on <a href="https://github.com/lukejones/designchallenge" title="Design Challenge GitHub">GitHub</a>. Read our <a href="https://github.com/lukejones/designchallenge/wiki/DesignChallenge.xyz-Privacy-Policy" title="Privacy Policy">Privacy Policy</a>.</p>
    </footer>
  </section>
{% endmacro %}
