{% macro modals() %}
  {# Contribute modal #}
  <div class="modal-template" id="contribute-modal">
    <div class="modal">
      <div class="modal__content">
        <button class="modal__close js-modal-close">Close</button>
        <h2 class="modal__title">Contribute</h2>
        <p>You can contribute to Design Challenge by suggesting challenges or improvements to the site, or by getting your hands dirty in the code!</p>
        <ul class="bare-list">
          <li><a href="https://github.com/lukejones/designchallenge" class="chevron chevron--black" title="Design Challenge GitHub">View on GitHub</a></li>
          <li><a href="mailto:designchallengexyz@gmail.com?subject=Hello" class="chevron chevron--black" title="Email Design Challenge">Send an Email</a></li>
        </ul>
      </div>
    </div>
  </div>

  {# Acknowledgements modal #}
  <div class="modal-template" id="acknowledgement-modal">
    <div class="modal">
      <div class="modal__content">
        <button class="modal__close js-modal-close">Close</button>
        <h2 class="modal__title">Acknowledgements</h2>
        <p>This project would not be been possible without the kindness of these people.</p>
        <dl class="contributor-list">
          <dt>Contributors</dt>
          <dd>Damon Charles, Robb Owen, Matthew Morek, Jonathan Day, David Darnes</dd>

          <dt>Design &amp; Dev</dt>
          <dd>Damon Charles, Robb Owen, Matthew Morek, Jonathan Day, David Darnes</dd>

          <dt>Open-source</dt>
          <dd>Damon Charles, Robb Owen, Matthew Morek, Jonathan Day, David Darnes</dd>
        </dl>
      </div>
    </div>
  </div>

  {# Register modal #}
  <div class="modal-template" id="register-modal">
    <div class="modal">
      <div class="modal__content">
        <button class="modal__close js-modal-close">Close</button>
        <h2 class="modal__title">Register for updates</h2>
        <p>Subscribe to receive updates when new challenges or features are added. For more info on how your data is handled, check out the <a href="https://github.com/lukejones/designchallenge/wiki/DesignChallenge.xyz-Privacy-Policy" title="Privacy Policy">Privacy Policy</a>.</p>
        <form action="https://xyz.us18.list-manage.com/subscribe/post?u=d4b20c19ff53ab3a35edffd33&amp;id=024a5e1297" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate signup-form" target="_blank" novalidate="">
          <div class="signup-field">
            <input type="email" value="" name="EMAIL" class="signup-field__input" id="mce-EMAIL" placeholder="Enter email address" required="">
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d4b20c19ff53ab3a35edffd33_024a5e1297" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="signup-field__submit">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endmacro %}
