.anchor {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(/assets/img/link.svg) no-repeat center;
  background-size: 20px 20px;
  overflow: hidden;
  text-indent: -999px;
  vertical-align: middle;
  opacity: 0.2;
  transition: opacity 200ms cubic-bezier(0.42, 0.68, 0.42, 1);

  &:hover {
    opacity: 1;
  }
}

.bare-list {
  list-style: none;
}

.boxin {
  padding: 26px 40px 40px;

  @media $from-small {
    padding: 56px 80px;
  }
}

.chevron::before {
  content: '> ';
  text-decoration: none;
  font-weight: normal;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 5px;
}

.chevron--creme::before { color: $c-text-darkbg; }

.tc-blueberry { color: $c-blueberry; }
.tc-apple { color: $c-apple; }
.tc-cherry { color: $c-cherry; }
.tc-apricot { color: $c-apricot; }
