/* @import "tachyons/src/tachyons"; */
@import "_variables";
@import "_utilities";

@import "./components/_masthead";
@import "./components/_introPanel";
@import "./components/_challengeList";
@import "./components/_challenge";

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: $f-league-light;
}

body {
  background: $c-dark-bg;
  margin: 0;
  padding-top: 82px;

  @media screen and (min-width: 35rem) {
    padding-top: 92px;
  }
}

h1 {
  font-size: $t-heading-primary;
}

.back-link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
