@import "_variables";
@import "_reset";
@import "_typography";
@import "_utilities";

@import "./components/_masthead";
@import "./components/_introPanel";
@import "./components/_challengeList";
@import "./components/_challenge";
@import "./components/_brief";

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: $c-dark-bg;
  margin: 0;
  padding-top: 82px;

  @media $from-small {
    padding-top: 92px;
  }
}
