@import "_fonts";
@import "_variables";

html {
  font-family: $f-league-light;
}

.main {
  margin: 100px auto;
  max-width: 800px;
  width: calc(100% - 40px);
}

.challenge-list {
  list-style: none;
  padding-left: 0;

  &__item:not(:last-child) {
    padding-bottom: 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 20px;
  }
}

.challenge {
  &__link {
    font-size: 1.25em;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 10px 0 0;
  }
}

.back-link {
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}